
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*Main body styling.*/
body {
  box-sizing: border-box;
  font-family: 'Gentium Book Basic', serif;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  flex-wrap: wrap;
  margin: 20px;
}

.pokemon {
  background-color: rgba(30,144,255,0.5);
  box-sizing: border-box;
  width: 200px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.pokemon > p {
  text-transform: capitalize;
  color: white;
  font-size: 24px;
  padding: 10px;
}

.pokemon:hover  {
  box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.7);
}


.image {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
}

input:focus {
  outline: none;
}

.input {
  position: fixed;
  font-family: 'Gentium Book Basic', serif;
  height: 30px;
  width: 250px;
  font-size: 20px;
  padding: 0px 20px;
  display: block;
  margin: 10px auto;
  background: rgba(255,255,255,1);
  color: black;
  border-radius: 5px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}





















